.todoItem {
  background: #eeeeee;
  padding: 0.75em;
  border-radius: 6px;
  margin-bottom: 0.5em;
  border: 1px solid #e3e3e3;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

  label {
    display: flex;
    align-items: center;
  }
}
